pymilvus
datasets
pandas
numpy
transformers
torch
pillow
python-dotenv
PyPDF2
tqdm
accelerate
scipy
unstructured[all-docs]
sentence-transformers
langchain-text-splitters
fastapi
langchain-groq
pydantic_settings
pydantic
uvicorn
streamlit
python-multipart
langchain_community
flashrank